html, body{
	height: 100%;
	line-height: 99%;

}

.hero-img{
	padding-top: 3%;
	background: url("../img/Fondo_Mujer_Wide.png");
	height: 100%;
	color: #fff;
}

.form-group{
	margin-bottom: 30px;

}

.form-control{
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-control:focus{
	box-shadow: none;
	border-color: transparent;
	border-bottom: 1px solid #fff;
}

select{
	background-color: transparent;
}

.form-control::-webkit-input-placeholder { color: #fff; }
.form-control:-moz-placeholder { color: #fff; }
.form-control::-moz-placeholder { color: #fff; }
.form-control:-ms-input-placeholder { color: #fff; }

.black{
	color: #000;
}

.mt-15 {
	margin-top: 15px;
}